//Variables
$darkblue: #2c314f;
$lightblue: #7acdcf;
$lightgray: #efeee9;
$regulargray: #aaaaaa;
$black: #1b1d28;
$primaryFont: 'Lato',Helvetica,sans-serif;
$secondaryFont:'Montserrat',sans-serif;
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    color: #1b1d28;
    font-family: $primaryFont;
    font-size: 16px;
  }

main{
    padding: 0 3em;
    height: calc(100vh - 176px);
    margin-top: 200px;
    background-image: url('../imgs/ch.png');
    width: 100%;
}

nav {
    top: 0;
    background-color: $darkblue;
    margin: 0;
    z-index: 1000;
    align-items: center; 
    flex-wrap: nowrap; 
}

.border-bottomStripe {
    border-style: solid;
    border-width: 0px 0px 4px;
    -moz-border-image: url(../imgs/nav-ground1.png) 28 27 27 repeat stretch;
    -webkit-border-image: url(../imgs/nav-ground1.png) 28 27 27 repeat stretch;
    -o-border-image: url(../imgs/nav-ground1.png) 28 27 27 repeat stretch;
    border-image: url(../imgs/nav-ground1.png) 28 27 27 fill repeat stretch;
}

h1 {
    color: $lightblue;
    font-size: 2.5em;
}

aside{
    display: block;
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
}

.bg-lightBlue{
    background-color: $lightblue
}

.bg-grey{
    background-color: $regulargray;
}

.bg-lightGrey{
    background-color: $lightgray
}

.bg-navy{
    background-color: $darkblue;
}

.bg-black{
    background-color: $black;
}

.logo {
    width: 200px;
    position: relative;
    margin: 20px;
    z-index: 15;
    align-self: flex-start;
}

.input-b {
    position: absolute;
    top: 1em;
    left: 300px;
    z-index: 12;
}

input[type=text],
select,
textarea {
    width: 700px;
    padding: 25px;
    border: 1px solid $regulargray;
    margin-top: 15px;
    // margin-bottom: 6px;
    // margin-right: 10px;
    // resize: vertical;
    // border-radius: 20px;
}

.form-inline,
.form-control{
    width: 100%;
}

#navBottom input[type=submit] {
    width: 150px;
    height: 38px;
    background-color: $darkblue;
    margin: 5px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
     &:hover {
    transition: ease-in .4s;
    border: 3px solid $lightblue;
    background-color: white;
    color: $lightblue;
}}

input[type=submit] {
    width: 150px;
    height: 35px;
    background-color: $darkblue;
    margin: 5px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
     &:hover {
    transition: ease-in .4s;
    border: 3px solid $lightblue;
    background-color: $darkblue;
    color: $lightblue;
}}

.form-check-inline {
    color: $darkblue;
    margin-right: .1rem;
    //     background-color: $darkblue;
    // border: 3px solid $lightblue;
    // padding: 5px 5px;
    // border-radius: 25px;
    // &:hover {
    // transition: ease-in .4s;
    // border: 3px solid $lightblue;
    // background-color: white;
    // color: $lightblue;
// }
}

#navBottom {
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 138px;
}

#navBottom .col-2{
    padding-left: 0;
    margin-left: -5px;
}

#btn-size, #btn-color {
    margin-left: 5px;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    color: blue;
}

.form-check-label {
    font-weight: bold;
    margin: auto;
    padding: 0 10px 0 0;
}

li {
    list-style-type: none;
    padding: 12px 50px;
}

// .trash {
//     width: 80px;
//     position: absolute;
//     top: 5px;
//     left: 950px;
//     z-index: 15;
// }
// .phone {
//     width: 75px;
//     position: absolute;
//     top: 5px;
//     left: 1100px;
//     z-index: 15;
// }

/*.phone {
    width: 75px;
    position: absolute;
    top: 5px;
    left: 1100px;
    z-index: 15;
}*/

#user-input {
    border-radius: 5px;
    background-color: $lightgray;
    width: 95%;
   
 
}

#user-text {
    padding: 1em;
    margin: 0 180px;
    
    // border: 3px solid $lightblue;
    
    // background-color: white;
}

#user-text p:nth-child(odd), #user-text li:nth-child(odd) {
    background-color: $lightblue;
    border-radius: 5px;
    margin-top: 15px;
    padding: 1em;
    color: #fff;

   
}

#user-text p:nth-child(even), #user-text li:nth-child(even) {
    background-color: $lightgray;
    border-radius: 5px;
    margin-top: 15px;
    padding: 1em;
    color:$darkblue;
}

.fieldStyle {
    padding: 1em;
    margin: 10px;
    background-color: #efeee9;
}

.darkTheme {
    background-color: $darkblue;
    color: #fff;
}

.biggerText {
    font-size: 1.5em;
}

// .initial{
//     color: $lightblue;
//     text-weight: bold;
// }

.remove {
    background-image: url(../imgs/trash-small-dark.png);
    border-radius: 5px;
    background-color: transparent;
    z-index: 5;
    float: right;
    cursor: pointer;
    width: 35px;
    height: 35px; 
    border: none;
}

.remove:hover {
    transition: ease-in-out .2s;
    background-image: url(../imgs/trash-small-white.png);
    border-radius: 5px;
    background-color: transparent;
    z-index: 5;
    float: right;
    cursor: pointer;
    width: 35px;
    height: 35px; 
    border: none;
}
section{
    position: relative;
    top:100px;
    left:50px;
}