//VARIABLES

$darkblue: #2c314f;
$lightblue: #7acdcf;
$lightgray: #efeee9;
$regulargray: #aaaaaa;
$dark:#1b1d28; 
$my-font: 'Montserrat', sans-serif;

*{
    box-sizing: border-box;
}
body{
    background-color: $regulargray;
}
 h1{
    color:white;
    position: relative;
    top:15px;
    left:15px;
}
.img{
    position:relative;
    text-outline: 0px;
    width: 100%
}
.input-b{
    position: relative;;
    top:-200px;
    left:550px;
    z-index: 8;
}
input[type=text],
select,
textarea {

    width: 40%;
    padding: 30px;
    border: 1px solid $regulargray;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 20px;
}

input[type=submit] {
    background-color:$darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 20%;
}

input[type=submit]:hover {
    background-color:$lightblue;
}

